@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body {
  background: #111;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../images/cinema.jpg') no-repeat center center fixed;
  background-size: cover;
}

.container {
  max-width: 1125px;
  margin: 0 auto;
}

header {
  padding: 25px 0;
  .navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .logo-search {
      display: flex;
      align-items: center;

      .logo {
        width: 220px;
        height: 50px;
        a {
          display: flex;
          img {
            max-width: 100%;
          }
          h1 {
            font-size: 12px;
          }
        }
      }
    }

    .sign-in {
      .menu.desktop {
        list-style: none;
        display: flex;

        a {
          text-decoration: none;
          color: #fff;
          text-transform: uppercase;
          margin: 0 5px;
          li {
            background: #c82333;
            padding: 8px 18px;
            border-radius: 6px;
            font-size: 14px;
          }
        }
        a:last-child {
          margin-right: 0;
        }
      }
    }

    form {
      position: relative;
      input {
        padding: 10px 8px 10px 12px;
        width: 250px;
        border: 1px solid black;
        border-right: none;
        border-radius: 5px;
      }
      .search-btn {
        position: absolute;
        right: 5px;
        top: 1px;
        border: none;
        border-left: none;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        background-color: #fff;
        padding: 10px 12px;

        i {
          color: rgba(0, 0, 0, 0.3);
        }
      }
    }
  }
}

.movie-item {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #fff;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px 30px;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 50px;
  margin-bottom: 10px;
  .movie-item {
    width: 200px;

    a {
      color: #000;
      text-decoration: none;
    }

    .image-container {
      width: 100%;
      height: 300px;
      position: relative;

      img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }

      .movie-rating {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        font-weight: bold;
        right: 10px;
        bottom: 10px;
        background: rgb(39, 39, 39);
        border: 3px solid rgb(70, 70, 70);
        border-radius: 50%;
        width: 35px;
        height: 35px;
        color: rgb(236, 179, 20);

        &:hover {
          cursor: pointer;
        }
      }
    }

    .text-container {
      padding: 20px 15px 20px;
      background-color: #fff;
      color: #000;
      .movie-title {
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 3px;
      }

      .movie-genre {
        font-size: 12px;
        line-height: 1.6;
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  margin-bottom: 25px;
  height: 50px;
  border-radius: 4px;

  &-link {
    color: #fff;
    text-decoration: none;
  }

  &-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    width: 50px;
    &:hover {
      cursor: pointer;
    }
  }
}

.no-image {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: rgb(177, 177, 177);
  i {
    font-size: 50px;
    margin-bottom: 10px;
  }
}

.copy {
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 10px 0 30px;
  color: rgb(180, 180, 180);
  font-size: 14px;
  span {
    margin-left: 8px;
    font-size: 18px;
  }
}

.movie {
  margin-top: 70px;
  background: white;
  display: grid;
  grid-template-columns: 300px 1fr;

  .movie-information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    .information-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1 {
        font-size: 27px;
      }
      span {
        width: 40px;
        height: 40px;
        background: black;
        color: white;
        border-radius: 50%;
        border: rgb(236, 179, 20) 2px solid;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
      }
    }

    .information-body {
      margin-top: -30px;
      h2 {
        font-size: 20px;
        margin-bottom: 20px;
      }
      .movie-description {
        margin-bottom: 20px;
        color: grey;
        line-height: 1.7;
      }
      .genres {
        display: flex;
        margin-bottom: 80px;
        p {
          margin-right: 5px;
        }
        span {
          margin: 0 5px;
        }
      }
    }
    .information-footer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      color: rgb(61, 61, 61);
      .duration {
        justify-self: center;
      }
      .budget {
        justify-self: end;
      }
      .duration,
      .release-date,
      .budget {
        display: flex;
        align-items: center;
        i {
          margin-right: 10px;
        }
      }

      .duration-mobile,
      .budget-mobile,
      .date-mobile {
        display: none;
      }
    }
  }
}

.cast {
  background: #fff;
  padding: 30px 25px;
  &-header {
    display: flex;
    justify-content: space-between;
    h2 {
      font-size: 28px;
      margin-bottom: 25px;
    }
    .show-all {
      button {
        position: relative;
        overflow: hidden;
        margin: 0 0.8rem;
        padding: 8px 15px;
        border: none;
        border-radius: 0.3rem;
        color: white;
        letter-spacing: 1px;
        font-size: 1.1rem;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        background: rgb(255, 129, 131);
        background: linear-gradient(
          180deg,
          rgba(255, 129, 131, 1) 0%,
          rgba(248, 101, 109, 1) 100%
        );
      }
    }
  }
  .actors-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 30px;

    .actor {
      background-color: rgb(228, 228, 228);

      &-image {
        height: 225px;
        img {
          max-width: 100%;
        }
      }
      &-name {
        padding: 20px;
        background: rgb(228, 228, 228);

        .name {
          margin-bottom: 10px;
          font-size: 16px;
          text-align: center;
        }
        .char-name {
          font-size: 13px;
          text-align: center;
        }
      }
    }
  }
}

.search-not-found {
  margin: 50px 0 100px 0;
  h2 {
    color: #fff;
  }
}

@import 'movie';
@import 'auth';
@import 'mediaqueries';
